body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px
}

.navbar {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    margin-right: 20px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ff8c00; /* Change the color on hover */
}
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    max-width: 300px;
    transition: transform 0.2s ease;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card h2 {
    font-size: 24px;
    margin: 10px 0;
}

.card p {
    font-size: 16px;
    color: #666;
}

.card a {
    display: block;
    background-color: #ff8c00;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #ff6f00;
}
.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.contact-container h1 {
    font-size: 32px;
}

.contact-container p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ff8c00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6f00;
}
